.item {
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  padding: 25px 20px;
  border-radius: 5px;
}
.item__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 15px;
}
.item__description {
  margin: 0;
  padding: 0;
  font-size: 15px;
  margin-bottom: 15px;
}
.item__button {
  display: flex;
  justify-content: right;
  gap: 5px;
}
